
/***
need to override main styles
***/
.site-title h1{
	margin-top: 2.5rem;
}

.group-discussion ul{
	margin-bottom: 0;
}

.list-item { /*temp style fix */
	margin-bottom: 0 !important;

}

.item-b-r{
	margin-bottom: 15px;
}
/*below is basic styling for all labels - nuanced styling will happen in title-... class
need to add module-label class to all labels in php; also add to tagcloud
*/
.module-label, .widgettitle {
	color: #fff !important;
    font-size: 16px !important;
    padding: 2px 15px !important;
    top: 0px !important;
    left: 0px !important;
    text-transform: uppercase !important;
    font-weight: bold !important;
    line-height: 1.5 !important;
}
/*below is basic styling for all modules - nuanced styling will happen in item class-... class
need to add module class to all labels in php
*/
.module{
	border-right: 1px solid #9e9b8c !important;
    border-bottom: 5px solid #9e9b8c !important;
}
 /*overides customer.css*/

.item-discussion {
	height: 334px;
	overflow: hidden;
/*	width: auto !important;
	float: none !important;*/
} 

.item-discussion img{
	max-width: none !important;
    min-width: 100% !important;
    width: auto !important;
}

.item-braintrust {
	height: 334px;
	/*width: 222px !important;*/
	margin-bottom: 0;
}

.ad-2 {
/*	width: 300px;
	height: 600px;
	background-color: red;*/
}

.widget_tag_cloud{ /*temp style fix*/
	margin-top: 0 !important;
}

.tagcloud {
	margin-left: 15px;
	height: 100%;
}

#tag_cloud-3{
	overflow: hidden;
	height: 408px;
}

.ad-3{ /*temp style fix*/
	width: 970px;
    height: 90px;
    background-color: red;
    margin: auto;
    margin-bottom: 15px;

}

.section-2{
	padding-top: 30px !important;
}

.section-3{

}

.sec-3-l{
	 width: 36.5%;
    height: 804px;
    float: left;
/*    background-color: purple;*/
    margin-right: 1%;
}

.sec-3-m{
	width: 36.5%;
    height: 804px;
    float: left;
    background-color: orange;
    margin-right: 1%;
}

.sec-3-r{
/*	width: 25%;
	float:right;*/
	
}

.home-resources{ /*conflict...adjust class name*/
	width: 100%;
	height:300px;
	background-color: green;
	margin-bottom: 15px;
}

.home-news{
	width: 100%;
	height:300px;
	background-color: blue;
	margin-bottom: 15px;

}

.home-press{}

.home-twitter{}

.ad-group-1{
	width: 300px;
}

.ad-4{
	width: 300px;
	height: 250px;
	margin-bottom: 15px;
	background-color: red;
}

.ad-5{
	width: 300px;
	height: 250px;
	margin-bottom: 15px;	
	background-color: red;
}

.ad-6{
	width: 300px;
	height: 250px;
	margin-bottom: 15px;	
	background-color: red;
}

.title-resources{
	background-color:rgb(158,154,143);
	display: inline-block;
}

.title-news{
	background-color:rgb(236,169,3);
	display: inline-block;

}

.title-press{
	background-color:rgb(80,156,208);
	display: inline-block;

}

.title-twitter{
	background-color:rgb(100,184,244);
	display: inline-block;

}


.small-ad, .g-5 {/*should probably be embedded in text of article*/
	width: auto !important;
    /* height: 200px !important; */
    padding: 0px 5px 24px 0px !important;
    /* float: left !important; */
    /* margin-right: 20px !important; */
}

.list-press{
	margin: 0px 15px 0px 15px;
	height: 770px;
    overflow: scroll;
}

.content-twitter{
	height: 770px;
    overflow: scroll;
}

.date-press{
}

.dont-miss a{
	color: white !important;
    text-decoration: none;
}

button.alm-load-more-btn {
	background-color:rgb(236,169,3) !important;	
	font-family: Calibri, Helvetica, Arial, sans-serif !important;

}

.article-author{
	color: #9e9b8c;
	padding-bottom: 10px;
}

.article-tags{
	color: #9e9b8c;
	text-transform: uppercase;
	padding-top: 20px;
}


.article-excerpt{
	padding-top: 20px;
    font-weight: bold;

}

.article-excerpt p{
	font-size: 1.2rem
    
}

#headerwrapper{
	height: 159px;
}

.content-post ul{
	list-style-type: inherit;
}

.widget_text .widgettitle{
	width: auto;
	background: #9e9b8c;
    font-family: Calibri, Helvetica, Arial, sans-serif !important;
}

.single-dis-l .info-dis h2{
	display:none;
}

.content-title h2 {
	font-size: 3.5rem;
    color: black;
    text-decoration: none;
}

.tweet_content{
	padding-bottom: 20px;
}

.tweet_profile_img{
	margin: 0 5px 5px 0 !important;
	float: left;
}

.tweet_primary_meta a{
	font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

.tweet_primary_meta span{
	color: gray;
    font-size: 14px;
}

.tweet_text{
	font-size: 14px;
	padding-left: 53px;
	min-height: 30px;
}

.tweet_secondary_meta a{
	
		color: gray;
    	text-decoration: none;
    	font-size: 12px;
    	padding-left: 53px;

}
.tweet_intents{
	float: right;

}

.tweet_intents a {
			    color: gray;
			    font-size: 12px;
			    text-decoration: none;
			    padding-right: 3px;
			    padding-left: 0;
}

h1.page-title {
    font-size: 20px !important;
    /* font-size: 3rem; */
    line-height: 1.25;
    font-family: Calibri !important;
    color: #9D9B8F !important;
    }

article#post-109{
	position: relative;
    left: 25%;
}

.alm-reveal .item-dis-2{
	height:235px;
}

.info-dis.single{
	background: url(../images/bg_img_dis.png)no-repeat center center !important;
    padding: 10px 10px 10px 10px !important;
}

.wp-polls p{
	text-align: left;
	margin-left: 10px;
}

@media screen and (max-width: 680px){
	.content-title h2 {
	display: none;
    
	}
	.single-dis-l .info-dis h2{
	display:block;
}
}

@media screen and (max-width: 600px){
	.alm-reveal .item-dis-2{
	height:215px;
}
}

@media screen and (max-width: 480px){
	.alm-reveal .item-dis-2{
	height:auto;
}
}

